body {
    font-family: Arial, sans-serif;
    background-color: #b7effb;
    margin: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#capitalResult {
    margin-top: 20px;
    font-size: 18px;
}


#tableContainer {
    margin: 20px; /* Add margin for spacing */
    border: #616060;
}

table {
    /* border-collapse: collapse; */
    width: 100%;
}

th, td {
    border: 1px solid #616060;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2; /* Light blue background for header */
}

